.cta{
    text-decoration: none;
    font-size: 2.4rem;
    color: #b93557;
    padding: 10px 17px 12px 25px;
    border: 1px solid currentColor;
}

.btt{
    cursor: pointer;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;    
    bottom: 30px;
    left: calc(100vw - 100px);
    height: 70px;
    width: 70px;
    background-color: #424141;
    > svg {
        height: 45px;
        width: 45px;
        transform-origin: 50% 50%;
    }
    &.right{
        top: 30px;
        bottom: auto;
        margin-top: 30px;    
        > svg {
            transform: rotate(90deg);
        }
    }
    &.left{
        top: 30px;
        bottom: auto;
        margin-top: 30px;    
        left: 30px;
        > svg {
            transform: rotate(-90deg);
        }
    }
}

@media (max-width: 780px){
    .btt{
        height: 50px;
        width: 50px;
        > svg {
            height: 25px;
            width: 25px;
        }
    }
}

