/* CONTACT */
#contact {
	font-family: Dosis, serif;
	font-weight: normal;
	min-height: 100vh;
	form {
		flex-direction: column;
		justify-content: center;
		display: flex;
		width: 80%;
		margin: 50px auto;
		input, textarea {
			font-family: Dosis, serif;
			color: $lightgrey;
			background-color: $white;
			font-size: 22px;
			margin: 50px 0;
			border: none;
			min-height: 50px;
			display: block;
			width: 100% !important;
			border-bottom: 1px solid $maroon;
			&::placeholder {
				font-family: Dosis, serif;
				color: $lightgrey;
			}
			&:active, &:focus {
				box-shadow: none;
				border: none;
				border-bottom: 1px solid $maroon;
			}
			&[type=submit] {
				cursor: pointer;
				color: $maroon;
				background-color: $white;
				border: 2px solid $maroon;
				padding: 10px 30px;
				width: auto;
				margin: auto;
			}
		}
	}
}

/* END CONTACT */