/* CONTACT */
#contact {
	form {
		width: 80%;
		display: block;
		margin: auto;
		input, textarea {
			color: $darkgrey;
			margin: 50px 0;
			border: none;
			min-height: 25px;
			display: block;
			width: 100% !important;
			border-bottom: 1px solid $maroon;
			&:active, &:focus {
				box-shadow: none;
				border: none;
				border-bottom: 1px solid $maroon;
			}
			&[type=submit] {
				cursor: pointer;
				background-color: transparent;
				border: 2px solid $maroon;
				padding: 10px 30px;
				width: auto;
				margin: auto;
			}
		}
	}
}

/* END CONTACT */