@import url('https://fonts.googleapis.com/css?family=Dosis:500,700');
@import '_colors.scss';
@import '_header.scss';
@import '_buttons.scss';
@import '_projects.scss';
@import '_about.scss';
@import '_contact.scss';

html{
    font-size: 62.5%; /* sets the base font to 10px for easier math */
}

body{
    font: 500 1.6em / 1.2 'Dosis';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body, #app {
	width: 100%;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#app {
    font-size: 2.5rem;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

// #app > *:not(#home) {
// 	position: relative;
// 	width: 100%;
// 	margin: 0;
// 	padding: 20px;
// }

/* CANVAS */
#canvasHome {
	overflow: hidden;
	min-height: 100vh;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	canvas {
		padding: 0;
		margin: 0;
	}
}

/* GLOBAL STYLE */
h1, h3 {
	font-family: Dosis, serif;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	&::after {
		content: '';
		position: absolute;
		left: 120%;
		width: 2000px;
		background-color: $maroon;
		height: 2px;
		top: calc(50% - 2px);
	}
}

h1 {
	font-size: 5em;
    color: $darkgrey;
    font-weight: 500;
}

h2 {
	font-family: Dosis, serif;
    color: $darkgrey;
    font-weight: 500;
	font-size: 3em;
}

h3 {
    font-size: 7rem;
    font-weight: 500;
	color: $darkgrey;
}

/* END GLOBAL STYLE*/